body{
    overflow: hidden;
    margin: 0%;
}

.backgroundChange {
    
    animation-duration: 1.5s;
    animation-name: firstanim;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.backgroundReChange {
    
    animation-duration: 1.5s;
    animation-name: lastanim;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes firstanim{
0% {
    background-color :white;
    margin: 0%;
}

100% {

    background-color :chocolate;
    margin: 25%;
}

}

@keyframes lastanim{
    0% {
        background-color :chocolate;
        margin: 25%;
    }
    
    100% {
        background-color :white;
        margin: 0%;
       
    }
    
    }