body {
    overflow: hidden;
   font-family: 'Special Gothic Expanded One', sans-serif;
   font-size: 150%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   color:magenta;
   
}
header h1, body p {
    text-align: center;
    margin: 0;
}

.spacer {
  aspect-ratio: 960/540;
     width: 100%;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
}

.layer1 {
    background-image: url('blob-scene-haikei.svg');
}

@media screen and (max-width: 600px) {
    h1 {
      font-size: 24px; 
    }
  }
