@font-face {
    font-family : 'NeueMontreal';
    src: url('NeueMontreal-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NeueMontreal', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: chocolate;
}

header h1, body p {
    text-align: center; 
    margin: 0; 
}

.custom-shape-divider-top-1744320250 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1744320250 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1744320250 .shape-fill {
    fill: #D43733;
}
